@font-face {
    font-family: 'ImpactGGST';
    src: url('../assets/fonts/ImpactStrive.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.MainTitle {
    font-family: 'ImpactGGST', Impact, Arial, sans-serif;
    font-size: 4.5em;
    width: 100%;
}

.Instructions { 
    flex-direction: column;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: url("BG.svg");
    background-size: cover;
    background-position: center;
    width: 60%;
    margin: auto;
    padding-top: 1%;
}

.ActualDay {
    font-family: Impact;    
    width: 100%;
}

.InfoButton {
    width: auto;
    height: 20%;
}

.SearchInputGroup {
    display: flex;
    align-items: center;
    position: relative;
}

.SearchInput {
    min-height: 50px;
    max-width: 80%;
    padding: 0 1rem;
    color: #fff;
    font-size: 15px;
    border: 3px solid #8b0e0e;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
}


.SearchButton {
    min-height: 50px;
    padding: 0 1rem;
    color: #fff;
    font-size: 15px;
    border: 3px solid #8b0e0e;
    border-radius: 0 6px 6px 0;
    background-color: #8b0e0e;
    cursor: pointer;
}

.SearchButton:hover {
    border: 3px solid #8b0e0e;
    background-color: #9b1010;
}

.SearchButton:focus {
    border: 3px solid #8b0e0e;
    outline: #8b0e0e;
}

.searchBox {
    width: 80%;
}

.characterIconSearch {
    width: 60px;
    height: 60px;
    border: #fff 1px solid;
    display: block;
}

.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: auto; 
}

.filteredCharacters {
    position: absolute;
    width: 80%;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 300px;
    overflow-y: auto;
    background-color: rgb(0, 0, 0);
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    z-index: 1000;
}

.characterButtonList {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
    padding: 0;
    margin: 0;
    list-style: none;
}

.characterButtonList li {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.characterButton {
    width: 100%;
    height: 100%;
    background: none;
    border: 1px solid white;
    border-radius: 2px;
    padding: 0.3rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    color: white;
    gap: 0.8rem;
}

.characterButton:hover {
    background-color: #3c3c3d;
    color: white;
    border: #3c3c3d;
}

.characterSearchTable {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}
